* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto",sans-serif;
}

body header {
  width: 100%;
  position: fixed;
  padding: 0 45px 0 45px;
  z-index: 30;
}

body header .navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header .navbar .logo a {
  margin-right: 16px;
  padding: 5px 0 5px 0;
}

body header .navbar .logo a img {
  width: 100%;
  background-size: cover;
}

body header .navbar .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .navbar .navigation i {
  display: none;
  cursor: pointer;
}

body header .navbar .navigation nav .main_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

body header .navbar .navigation nav .main_ul .nav_item {
  margin-right: 55px;
}

body header .navbar .navigation nav .main_ul .nav_item .nav_link {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: .65px;
  line-height: 118px;
  -webkit-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
}

body header .navbar .navigation nav .main_ul .nav_item .nav_link:hover {
  color: rgba(0, 0, 0, 0.7);
}

body header .navbar .navigation nav .main_ul .nav_item .about {
  color: #171717;
}

body header .navbar .navigation nav .main_ul .blog_li {
  margin-right: 55px;
  position: relative;
}

body header .navbar .navigation nav .main_ul .blog_li:hover .dropdown_menu {
  visibility: visible;
  opacity: 1;
}

body header .navbar .navigation nav .main_ul .blog_li .dropdown {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .navbar .navigation nav .main_ul .blog_li .dropdown i {
  margin-left: 3px;
}

body header .navbar .navigation nav .main_ul .blog_li .dropdown_menu {
  list-style: none;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  min-width: 250px;
  background: #171717;
  left: auto;
  right: 0;
  top: 90%;
  padding: 30px 0 30px 0;
}

body header .navbar .navigation nav .main_ul .blog_li .dropdown_menu li {
  padding-top: 20px;
  padding-left: 25px;
}

body header .navbar .navigation nav .main_ul .blog_li .dropdown_menu li:hover a {
  color: #0056b3;
}

body header .navbar .navigation nav .main_ul .blog_li .dropdown_menu li a {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: .65px;
  -webkit-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
}

body main .enter {
  position: relative;
  width: 100%;
  height: auto;
  background: url(../images/homebckgrnd.png) right center no-repeat scroll;
  background-size: cover;
  padding-top: 700px;
  padding-bottom: 95px;
}

body main .enter .mini_card {
  border-bottom: 1px solid #6b7d8e;
  position: absolute;
  left: 205px;
  bottom: 350px;
}

body main .enter .mini_card h2 {
  font-size: 72px;
  color: #0b1033;
  font-weight: normal;
}

body main .enter .mini_card p {
  font-size: 24px;
  color: #6b7d8e;
  font-weight: normal;
  padding-top: 15px;
  padding-bottom: 95px;
}

body main .about_form {
  margin: 100px 0px;
}

body main .about_form .about_form_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .about_form .about_form_container .left_text {
  padding-right: 15px;
  padding-left: 140px;
  width: 50%;
  text-align: left;
  margin-bottom: 40px;
}

body main .about_form .about_form_container .left_text h6 {
  padding-top: 25px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #7c8d93;
  padding-bottom: 10px;
}

body main .about_form .about_form_container .left_text h2 {
  font-size: 48px;
  color: #0b1033;
  font-weight: bold;
}

body main .about_form .about_form_container .left_text p {
  font-size: 15px;
  line-height: 28px;
  color: #7c8d93;
  font-weight: 500;
  padding-top: 55px;
}

body main .about_form .about_form_container .left_text .button_div a {
  font-size: 18px;
  font-weight: 700;
  color: #0b1033;
  text-align: center;
}

body main .about_form .about_form_container .left_text .button_div a img {
  padding-right: 15px;
  vertical-align: middle;
}

body main .about_form .about_form_container .right_img {
  width: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-right: 15px;
}

body main .about_form .about_form_container .right_img img {
  width: 100%;
}

body main .ceo {
  padding-top: 190px;
  padding-bottom: 130px;
  border-bottom: 1px solid #bbbec1;
  background: url(../images/3d-slider-shap.png) no-repeat scroll center center;
  background-size: contain;
}

body main .ceo .ceo_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .ceo .ceo_container .card {
  width: 291px;
  margin-right: 130px;
}

body main .ceo .ceo_container .card .content {
  height: 315px;
  width: 290px;
}

body main .ceo .ceo_container .card .content h4 {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  color: #0b1033;
}

body main .ceo .ceo_container .card .content p {
  font-size: 15px;
  font-weight: 600;
  color: #7c8d93;
  line-height: 28px;
  padding: 25px 0 55px 0;
}

body main .ceo .ceo_container .card .content .person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  width: 315px;
}

body main .ceo .ceo_container .card .content .person .name_work {
  margin-left: 20px;
  display: block;
  height: 48px;
}

body main .ceo .ceo_container .card .content .person .name_work h5 {
  font-size: 15px;
  font-weight: 600;
  line-height: 28px;
  color: #0b1033;
  padding-bottom: 5px;
}

body main .ceo .ceo_container .card .content .person .name_work h6 {
  font-size: 13px;
  font-weight: 600;
  color: white;
}

body main .progress {
  margin-top: 100px;
}

body main .progress .progress_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .progress .progress_div .progress_text {
  padding-right: 15px;
  padding-left: 15px;
  width: 40%;
  text-align: left;
  margin-bottom: 40px;
}

body main .progress .progress_div .progress_text h6 {
  padding-top: 25px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #7c8d93;
  padding-bottom: 10px;
}

body main .progress .progress_div .progress_text h2 {
  font-size: 48px;
  color: #0b1033;
  font-weight: bold;
}

body main .progress .progress_div .progress_text p {
  font-size: 15px;
  line-height: 28px;
  color: #7c8d93;
  font-weight: 500;
  padding-top: 55px;
}

body main .progress .progress_div .progress_text h2 span {
  font-style: italic;
  color: #6fbbfe;
}

body main .progress .progress_div .progress_bar {
  display: block;
  width: 40%;
  padding-top: 90px;
  padding-left: 15px;
}

body main .progress .progress_div .progress_bar p {
  font-size: 18px;
  line-height: 28px;
  color: #7c8d93;
  font-weight: 500;
  padding-bottom: 70px;
}

body main .progress .progress_div .progress_bar .bar_container {
  margin-top: 20px;
}

body main .progress .progress_div .progress_bar .bar_container .bar_row .bar_top {
  position: relative;
}

body main .progress .progress_div .progress_bar .bar_container .bar_row .bar_top p {
  font-size: 15px;
  color: #7c8d93;
  font-weight: 500;
  padding-bottom: 12px;
}

body main .progress .progress_div .progress_bar .bar_container .bar_row .bar_top span {
  position: absolute;
  background-image: -webkit-gradient(linear, left top, right top, from(#6fbcfe), color-stop(51%, #998dff), to(#6fbcfe));
  background-image: linear-gradient(to right, #6fbcfe 0%, #998dff 51%, #6fbcfe 100%);
  right: 0;
  top: -10px;
  color: #fff;
  padding: 0 16px;
  font-size: 14px;
  line-height: 34px;
  border-radius: 17px;
}

body main .progress .progress_div .progress_bar .bar_container .bar_row .progress_background {
  height: 5px;
  background: #f4f8fc;
  border-radius: 0;
  width: 100%;
}

body main .progress .progress_div .progress_bar .bar_container .bar_row .progress_background .progress_percent {
  width: 0;
  height: 5px;
  background-image: -webkit-gradient(linear, left top, right top, from(#6fbcfe), color-stop(51%, #998dff), to(#6fbcfe));
  background-image: linear-gradient(to right, #6fbcfe 0%, #998dff 51%, #6fbcfe 100%);
}

body main .progress .progress_div .progress_bar .first .bar_row .bar_top .span_first {
  right: 180px;
}

body main .progress .progress_div .progress_bar .first .bar_row .progress_background .progress_percent {
  width: 70%;
  height: 5px;
  background-image: -webkit-gradient(linear, left top, right top, from(#6fbcfe), color-stop(51%, #998dff), to(#6fbcfe));
  background-image: linear-gradient(to right, #6fbcfe 0%, #998dff 51%, #6fbcfe 100%);
}

body main .progress .progress_div .progress_bar .second .bar_row .bar_top .span_second {
  right: 65px;
}

body main .progress .progress_div .progress_bar .second .bar_row .progress_background .progress_percent {
  width: 90%;
  height: 5px;
  background-image: -webkit-gradient(linear, left top, right top, from(#6fbcfe), color-stop(51%, #998dff), to(#6fbcfe));
  background-image: linear-gradient(to right, #6fbcfe 0%, #998dff 51%, #6fbcfe 100%);
}

body main .progress .progress_div .progress_bar .third .bar_row .bar_top .span_third {
  right: 95px;
}

body main .progress .progress_div .progress_bar .third .bar_row .progress_background .progress_percent {
  width: 85%;
  height: 5px;
  background-image: -webkit-gradient(linear, left top, right top, from(#6fbcfe), color-stop(51%, #998dff), to(#6fbcfe));
  background-image: linear-gradient(to right, #6fbcfe 0%, #998dff 51%, #6fbcfe 100%);
}

body main .progress .progress_div .progress_bar .fourth .bar_row .bar_top .span_fourth {
  right: 65px;
}

body main .progress .progress_div .progress_bar .fourth .bar_row .progress_background .progress_percent {
  width: 90%;
  height: 5px;
  background-image: -webkit-gradient(linear, left top, right top, from(#6fbcfe), color-stop(51%, #998dff), to(#6fbcfe));
  background-image: linear-gradient(to right, #6fbcfe 0%, #998dff 51%, #6fbcfe 100%);
}

body main .progress .progress_div .progress_bar .fifth .bar_row .bar_top .span_fifth {
  right: 155px;
}

body main .progress .progress_div .progress_bar .fifth .bar_row .progress_background .progress_percent {
  width: 75%;
  height: 5px;
  background-image: -webkit-gradient(linear, left top, right top, from(#6fbcfe), color-stop(51%, #998dff), to(#6fbcfe));
  background-image: linear-gradient(to right, #6fbcfe 0%, #998dff 51%, #6fbcfe 100%);
}

body main .email {
  text-align: center;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#6fbcfe), color-stop(51%, #998dff), to(#6fbcfe));
  background-image: linear-gradient(to right, #6fbcfe 0%, #998dff 51%, #6fbcfe 100%);
  margin-top: 100px;
  padding: 160px 0 170px 0;
  border-bottom: 2px solid #fff;
}

body main .email h5 {
  font-size: 48px;
  color: #fff;
  font-weight: 600;
  padding-bottom: 26px;
}

body main .email a {
  font-size: 48px;
  color: #fff;
  font-weight: 600;
}

body footer {
  width: 100%;
  display: block;
  width: auto;
}

body footer .footer_area {
  width: 100%;
  background-image: url(../images/footer-bg.jpg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

body footer .footer_area .footer_top_container {
  width: 100%;
  padding: 130px 190px 115px 190px;
}

body footer .footer_area .footer_top_container .footer_top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  width: 100%;
}

body footer .footer_area .footer_top_container .footer_top .footer_top_left {
  display: block;
  max-width: 33.333333%;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

body footer .footer_area .footer_top_container .footer_top .footer_top_left p {
  font-size: 15px;
  line-height: 28px;
  color: #fff;
  font-weight: 600;
  padding-top: 55px;
}

body footer .footer_area .footer_top_container .footer_top .footer_top_center {
  display: block;
  max-width: 33.333333%;
  width: 100%;
  padding-right: 15px;
}

body footer .footer_area .footer_top_container .footer_top .footer_top_center p {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  padding-bottom: 45px;
}

body footer .footer_area .footer_top_container .footer_top .footer_top_center ul {
  list-style: none;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body footer .footer_area .footer_top_container .footer_top .footer_top_center ul li {
  margin-left: 5px;
}

body footer .footer_area .footer_top_container .footer_top .footer_top_right {
  display: block;
  max-width: 33.333333%;
  width: 100%;
  padding-right: 15px;
  padding-left: 20px;
}

body footer .footer_area .footer_top_container .footer_top .footer_top_right p {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  padding-bottom: 45px;
}

body footer .footer_area .footer_top_container .footer_top .footer_top_right input {
  height: 50px;
  border: none;
  border-bottom: 2px solid #e1e1e1;
  width: 100%;
  border-radius: 0;
  padding-left: 15px;
  outline: none;
  font-size: 13px;
  font-family: "Open Sans",sans-serif;
  font-style: italic;
  color: #a5bbd0;
  margin-bottom: 20px;
  margin-bottom: 25px;
}

body footer .footer_area .footer_top_container .footer_top .footer_top_right a {
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  line-height: 55px;
  border-width: 6px;
  padding: 0px 46px;
  font-weight: 600;
  font-size: 15px;
  color: white;
  background-image: -webkit-gradient(linear, left top, right top, from(#6fbcfe), color-stop(51%, #998dff), to(#6fbcfe));
  background-image: linear-gradient(to right, #6fbcfe 0%, #998dff 51%, #6fbcfe 100%);
  background-size: 200% auto;
  border: 6px solid rgba(204, 241, 255, 0.5);
  padding-top: 20px;
  padding-bottom: 20px;
}

body footer .footer_area .footer_top_container .footer_top .footer_top_right a:hover {
  background-position: right center;
  color: #fff;
}

body footer .footer_bottom {
  width: 100%;
  background: #11173b;
  padding: 35px 0;
}

body footer .footer_bottom .bottom_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

body footer .footer_bottom .bottom_container p {
  font-size: 14px;
  color: #2a2f56;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 29px;
}

body footer .footer_bottom .bottom_container p a:hover {
  color: #0056b3;
}

body footer .footer_bottom .bottom_container ul {
  list-style: none;
  margin-left: 170px;
}

body footer .footer_bottom .bottom_container ul li {
  display: inline-block;
  margin-right: 32px;
}

body footer .footer_bottom .bottom_container ul li a:hover i {
  color: #fff;
}

body footer .footer_bottom .bottom_container ul li a i {
  color: #2a2f56;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

@media only screen and (max-width: 768px) {
  body header .navbar {
    margin-top: 30px;
  }
  body header .navbar .navigation {
    left: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  body header .navbar .navigation i {
    display: block !important;
    position: relative;
  }
  body header .navbar .navigation nav {
    display: block;
  }
  body header .navbar .navigation nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    background-color: #171717;
    top: 70px;
    right: 20px;
  }
  body header .navbar .navigation nav ul li {
    margin-left: 30px;
  }
  body header .navbar .navigation nav ul li a {
    line-height: 35px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body footer .footer_area .footer_top_container {
    padding: 130px 0 115px 0 !important;
  }
  body footer .footer_area .footer_top_container .footer_top .footer_top_left {
    margin-left: 60px;
  }
  body footer .footer_area .footer_top_container .footer_top .footer_top_right {
    margin-top: 30px;
    margin-left: 60px;
  }
}

@media only screen and (max-width: 600px) {
  footer .footer_area .footer_top_container .footer_top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer_area .footer_top_container .footer_top .footer_top_center {
    margin-left: 80px;
    margin-top: 25px;
  }
}
/*# sourceMappingURL=about.css.map */